@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Onest", ui-sans-serif, system-ui, sans-serif;

  --color-brand-yellow: #F2C953;
  --color-brand-pink: #FF9393;
  --color-brand-brown: #D1A878;
  --color-brand-gray: #F85555;
  --color-brand-orange: #896B50;
  --color-brand-tan: #BABABA;

  --radius-4xl: 2rem;
  --radius-5xl: 3rem;
}

body {
  @apply bg-zinc-900 font-sans flex justify-center items-center min-h-screen p-4 antialiased;
}

#root {
  @apply w-full max-w-[400px];
}